# Spring boot global config
sie.xf.admin.spring.profiles.active: prod

# Spring boot datasource config
sie.xf.admin.datasource.driver-class-name: org.mariadb.jdbc.Driver
sie.xf.admin.datasource.url: jdbc:mysql://{{ DB_SERVER_HOST }}:{{ DB_SERVER_PORT }}/{{ DB_NAME }}?useUnicode=true&characterEncoding=utf8
sie.xf.admin.datasource.name: {{ DB_NAME }}
sie.xf.admin.datasource.username: {{ DB_USER }}
sie.xf.admin.datasource.password: {{ DB_PWD }}
sie.xf.admin.datasource.xa.data-source-class-name: org.mariadb.jdbc.MySQLDataSource
sie.xf.admin.datasource.test-while-idle=true
sie.xf.admin.datasource.validationQuery=SELECT 1
sie.xf.admin.datasource.initial-size: {{ DB_INITIAL_SIZE }}
sie.xf.admin.datasource.max-active: {{ DB_MAX_ACTIVE }}
sie.xf.admin.datasource.min-idle: {{ DB_MIN_IDLE }}
sie.xf.admin.datasource.max-idle: {{ DB_MAX_IDLE }}

#flyway config
sie.xf.admin.flyway.baseline-on-migrate=true
sie.xf.admin.flyway.validate-on-migrate=false
sie.xf.admin.flyway.locations=db/migration
sie.xf.admin.flyway.enabled=true
sie.xf.admin.flyway.out-of-order=true

# Spring boot jpa config
sie.xf.admin.jpa.database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
sie.xf.admin.jpa.database: MYSQL
sie.xf.admin.jpa.show_sql: false
sie.xf.admin.jpa.properties.hibernate.cache.use_second_level_cache: false
sie.xf.admin.jpa.properties.hibernate.cache.use_query_cache: false
sie.xf.admin.jpa.properties.hibernate.generate_statistics: false
sie.xf.admin.jpa.properties.hibernate.listeners.envers.autoRegister: false
sie.xf.admin.jpa.properties.hibernate.event.merge.entity_copy_observer: allow

# Configuration des logs
sie.xf.admin.logging.config: {{ LOG_CONFIG }}
sie.xf.admin.logging.path: {{LOG_PATH}}
sie.xf.admin.logging.level: {{LOG_LEVEL}}
sie.xf.admin.logging.appenders: {{ LOG_APPENDERS }}
sie.xf.admin.logging.maxFileSize: {{ LOG_MAX_FILE_SIZE }}
# Le nombre de jour max pour garder les logs
sie.xf.admin.logging.maxHistory: {{ LOG_MAX_HISTORY }}
# La taille max de tous les fichiers logs pas encore supprimés
sie.xf.admin.logging.totalSizeCap: {{ LOG_TOTAL_SIZE_CAP }}

# Graylog config
sie.xf.admin.logging.grayLog.host: udp:{{ GRAYLOG_SERVER_HOST}}
sie.xf.admin.logging.grayLog.port: {{ GRAYLOG_SERVER_PORT }}
sie.xf.admin.logging.grayLog.gelf.version: 1.1
sie.xf.admin.logging.grayLog.maximumMessageSize: {{ GRAYLOG_MAXIMUM_MESSAGE_SIZE }}
sie.xf.admin.logging.grayLog.timestampPattern: "yyyy-MM-dd HH:mm:ss,SSSS"
sie.xf.admin.logging.grayLog.facility: {{ GRAYLOG_FACILITY }}
sie.xf.admin.logging.grayLog.extractStackTrace: true
sie.xf.admin.logging.grayLog.filterStackTrace: false

# Jhipster specific config
sie.xf.admin.jhipster.http.cache.timeToLiveInDays: {{ SECURITY_TIME_TO_LIVE_IN_DAYS }}

sie.xf.admin.jhipster.security.authentication.xauth.secret: {{ SECURITY_SECRET }}
# Token is valid 30 minutes
sie.xf.admin.jhipster.security.authentication.xauth.tokenValidityInSeconds: {{ SECURITY_TOKEN_VALIDITY_SEC }}

# if true, Spring Boot will run schema.sql and data.sql on startup time
# To use only in integration env
# source: http://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initialization.html
sie.xf.admin.datasource.initialize=false
# proxy Referential name list
sie.xf.admin.refNamesList: {{ REF_NAME_LIST }}

# ECM-Core specific props
sie.xf.admin.ldap.enabled: {{ LDAP_ENABLED }}
sie.xf.admin.ldap.url: ldap://{{ LDAP_SERVER_HOST }}:{{ LDAP_SERVER_PORT }}
sie.xf.admin.ldap.base: dc=eu,dc=els,dc=local
sie.xf.admin.ldap.user: {{ LDAP_USER }}
sie.xf.admin.ldap.password: {{ LDAP_PWD }}
sie.xf.admin.exportConfigurationPath: {{ EXPORT_CONFIG_PATH }}
