# Basic security authentification
# The login is: user
security:
     user:
        password: {{ CACHE_APP_PWD }}

server:
    port: {{ CACHE_APP_SERVER_PORT }}
    contextPath: /{{ CACHE_APP_SERVER_CONTEXT_PATH }}
    tomcat:
      accesslog:
        directory: {{ TOMCAT_ACCESS_LOG_DIRECTORY }}
        enabled: {{ TOMCAT_ACCESS_LOG_ENABLED }}
        pattern: remote_ip_address=%a http_response_code=%s request_date=%t response_time_ms=%D requested_url_path=%U

# MongoDB
spring.data.mongodb.database: {{ MONGODB_DATABASE }}
spring.data.mongodb.uri: mongodb://{{ MONGODB_SERVER_URL }}

# HazelCast config
cache.hazelcast.port: {{ HAZELCAST_SERVER_PORT }}
cache.hazelcast.groupName: {{ HAZELCAST_GROUP_NAME }}
cache.hazelcast.groupPassword: {{ HAZELCAST_GROUP_PWD }}
cache.hazelcast.enableTcpIpConfig: {{ HAZELCAST_TCP_IP_CONFIG_ENABLED }}
cache.hazelcast.enableMulticastConfig: {{ HAZELCAST_MULTICAST_CONFIG_ENABLED }}
cache.hazelcast.evictionPolicy: {{ HAZELCAST_EVICTION_POLICY }} # See the code of the enum EvictionPolicy
# MAX HEAP SIZE= XMX = NUMBER OF ENV * 2 * maxHeapSizeInMB
cache.hazelcast.maxHeapSizeInMB: {{ HAZELCAST_MAX_HEAP_SIZE_MB }}

# Logging config
cache.hazelcast.enableEntriesListener: {{ ENTRIES_LISTENER_ENABLED }} # logging the add/delete/update of data if HazelCast, very verbous and RAM consumption
cache.hazelcast.logging.stats.period: {{ LOG_STATS_PERIOD_SECONDES }} # 60 seconds
cache.hazelcast.logging.dir: {{ LOG_DIRECTORY }}
cache.hazelcast.logging.level: {{ LOG_LEVEL }}

# Values: ASYNC, GRAYLOG,STDOUT
cache.hazelcast.logging.appenders: {{ LOG_APPENDERS }}
cache.hazelcast.logging.maxFileSize: {{ LOG_MAX_FILE_SIZE }}
cache.hazelcast.logging.maxHistory: {{ LOG_MAX_HISTORY }} # controls the maximum number of archive files to keep
cache.hazelcast.logging.totalSizeCap: {{ LOG_TOTAL_SIZE_CAP }} #  controls the total size of all archive files. Oldest archives are deleted asynchronously

# Graylog config
cache.hazelcast.logging.grayLog.host: udp:{{ GRAYLOG_SERVER_HOST }}
cache.hazelcast.logging.grayLog.port: {{ GRAYLOG_SERVER_PORT }}
cache.hazelcast.logging.grayLog.gelf.version: 1.1
cache.hazelcast.logging.grayLog.maximumMessageSize: {{ GRAYLOG_MAXIMUM_MESSAGE_SIZE }}
cache.hazelcast.logging.grayLog.timestampPattern: "yyyy-MM-dd HH:mm:ss,SSSS"
cache.hazelcast.logging.grayLog.facility: {{ GRAYLOG_FACILITY }}
cache.hazelcast.logging.grayLog.extractStackTrace: true
cache.hazelcast.logging.grayLog.filterStackTrace: false

# Max file size.
spring.http.multipart.max-file-size: {{ MULTIPART_MAX_FILE_SIZE }}
# Max request size.
spring.http.multipart.max-request-size: {{ MULTIPART_MAX_REQUEST_SIZE }}

# Spring actuator config 
management: 
  context-path: /monitoring
  security:
    enabled: false # if 'true' we get only UPD/DOWN status by http://localhost:8989/hazelcast/monitoring/health  
  health: # defaults health indicators
    defaults:
      enabled: false # disable default indicators
    mongo:
          enabled: true
endpoints:
  enabled: false
  health:
    enabled: true
  metrics:
    sensitive: false
    enabled: true
health:
  config:
    enabled: false
