# Spring boot global config
sie.erm.spring.profiles.active: prod
sie.erm.spring.server.port: {{ ERM_APP_SERVER_PORT }}


# Log config
sie.erm.logging.path: {{ LOG_PATH }}
sie.erm.logging.level: {{ LOG_LEVEL }}

# Values: ASYNC, GRAYLOG,STDOUT
sie.erm.logging.appenders: {{ LOG_APPENDERS }}
sie.erm.logging.maxFileSize: {{ LOG_MAX_FILE_SIZE }}
sie.erm.logging.maxHistory: {{ LOG_MAX_HISTORY }}
sie.erm.logging.totalSizeCap: {{ LOG_TOTAL_SIZE_CAP }}

# Graylog config
sie.erm.logging.grayLog.host: udp:{{ GRAYLOG_SERVER_HOST}}
sie.erm.logging.grayLog.port: {{ GRAYLOG_SERVER_PORT}}
sie.erm.logging.grayLog.gelf.version: 1.1
sie.erm.logging.grayLog.maximumMessageSize: {{ GRAYLOG_MAXIMUM_MESSAGE_SIZE }}
sie.erm.logging.grayLog.timestampPattern: "yyyy-MM-dd HH:mm:ss,SSSS"
sie.erm.logging.grayLog.facility: {{ GRAYLOG_FACILITY }}
sie.erm.logging.grayLog.extractStackTrace: true
sie.erm.logging.grayLog.filterStackTrace: false

# config tomcat
sie.erm.tomcat.accesslog.directory: {{ TOMCAT_ACCESS_LOG_DIRECTORY }}
sie.erm.tomcat.accesslog.enabled: {{ TOMCAT_ACCESS_LOG_ENABLED }}
sie.erm.tomcat.accesslog.pattern: remote_ip_address=%a http_response_code=%s request_date=%t response_time_ms=%D requested_url_path=%U

sie.erm.xmlImport.dateFormat: yyyy-MM-dd'T'HH:mm:ss.SSS'Z'
sie.erm.xmlImport.xsdDateFormat: yyyy-MM-dd'T'HH:mm:ss'Z'
sie.erm.xmlImport.defaultCreatorLogin: {{ XML_IMPORT_DEFAULT_CREATOR_LOGIN }}
sie.erm.xsltTransformation.xslLogPath: file:{{ XSLT_TRANSFORMATION_LOG_PATH }}

# Spring boot datasource config
sie.erm.datasource.driver-class-name: org.mariadb.jdbc.Driver
sie.erm.datasource.url: jdbc:mariadb://{{ DB_SERVER_HOST }}:{{ DB_SERVER_PORT }}/{{ DB_NAME }}
sie.erm.datasource.name: {{ DB_NAME }}
sie.erm.datasource.username: {{ DB_USER }}
sie.erm.datasource.password: {{ DB_PWD }}
sie.erm.datasource.xa.data-source-class-name: org.mariadb.jdbc.MySQLDataSource
sie.erm.datasource.test-while-idle=true
sie.erm.datasource.validationQuery=SELECT 1
sie.erm.datasource.initial-size: {{ DB_INITIAL_SIZE }}
sie.erm.datasource.max-active: {{ DB_MAX_ACTIVE }}
sie.erm.datasource.min-idle: {{ DB_MIN_IDLE }}
sie.erm.datasource.max-idle: {{ DB_MAX_IDLE }}



# Spring boot jpa config
sie.erm.jpa.database-platform: org.hibernate.dialect.MySQLInnoDBDialect
sie.erm.jpa.database: MYSQL
sie.erm.jpa.show_sql: false
sie.erm.jpa.properties.hibernate.cache.use_second_level_cache: false
sie.erm.jpa.properties.hibernate.cache.use_query_cache: false
sie.erm.jpa.properties.hibernate.generate_statistics: false
sie.erm.jpa.properties.hibernate.event.merge.entity_copy_observer: allow
sie.erm.jpa.properties.hibernate.format_sql: false
sie.erm.jpa.properties.hibernate.use_sql_comments: false

#ERM
sie.erm.props.path: {{ ERM_PATH }}
sie.erm.props.xslLogPath: file:{{ XSLT_LOG_PATH }}
sie.erm.props.teeConfFile: TEE-conf
sie.erm.props.patternPath: xf-ecmRes/TEE-conf/patterns
sie.erm.props.patternFileExtension: .pat
sie.erm.props.fileExtension: zip
sie.erm.props.paramNode: with-param
sie.erm.props.labelNode: label
sie.erm.props.typeAttribute: type
sie.erm.props.resourceNode: resource-xslt
sie.erm.props.labelNode: label
sie.erm.props.langAttribute: xml:lang
sie.erm.props.hrefAttribute: jar-href
sie.erm.props.nameAttribute: name
sie.erm.props.valueAttribute: value
sie.erm.props.threadPoolSize: {{ THREAD_POOL_SIZE }}
sie.erm.props.validate: false
sie.erm.props.ermSignature: {{ ERM_SIGNATURE_DISPLAY_MODE }}
sie.erm.props.xsltDebug: false
sie.erm.props.trace: false
sie.erm.props.transformerPoolSize: {{ TRANSFORMER_POOL_SIZE }}
sie.erm.props.ecmServerUrl: http://{{ CORE_APP_SERVER_HOST }}:{{ CORE_APP_SERVER_PORT }}/

#Cache
#https://github.com/ben-manes/caffeine/wiki/Eviction
sie.erm.props.cache.maximumSize: 120
sie.erm.props.cache.expireAfterAccess: 7
sie.erm.props.cache.timeUnit: DAYS
# NONE, NEWEST, OLDEST
sie.erm.props.cache.containerloadingPolicy: NEWEST