
# Spring boot global config
sie.batch.spring.profiles.active: prod
sie.batch.spring.server.port: {{ BATCH_APP_SERVER_PORT }}

# Spring boot datasource mongo config
sie.batch.data.mongo.uri: mongodb://{{ MONGODB_SERVER_URL }}
sie.batch.data.mongo.database: {{ MONGODB_DATABASE }}

# Spring boot datasource solr config
{% if IS_SHARDED_SOLR %}
sie.batch.data.solr.zkhost: http://{{ ZOOK_SERVER_URL }}
sie.batch.data.solr.host:
{% else %}
sie.batch.data.solr.host: http://{{ SOLR_SERVER_URL}}/solr
sie.batch.data.solr.zkhost:
{% endif %}
sie.batch.data.solr.core: {{ SOLR_CORE }}


# Spring boot datasource config
sie.batch.datasource.driver-class-name: org.mariadb.jdbc.Driver
sie.batch.datasource.url: jdbc:mariadb://{{ DB_SERVER_HOST }}:{{ DB_SERVER_PORT }}/{{ DB_NAME }}
sie.batch.datasource.name: {{ DB_NAME }}
sie.batch.datasource.username: {{ DB_USER }}
sie.batch.datasource.password: {{ DB_PWD }}
sie.batch.datasource.xa.data-source-class-name: org.mariadb.jdbc.MySQLDataSource
sie.batch.datasource.test-while-idle=true
sie.batch.datasource.validationQuery=SELECT 1
sie.batch.datasource.initial-size: {{ DB_INITIAL_SIZE }}
sie.batch.datasource.max-active: {{ DB_MAX_ACTIVE }}
sie.batch.datasource.min-idle: {{ DB_MIN_IDLE }}
sie.batch.datasource.max-idle: {{ DB_MAX_IDLE }}

# Spring boot jpa config
sie.batch.jpa.database-platform: org.hibernate.dialect.MySQLInnoDBDialect
sie.batch.jpa.database: MYSQL
sie.batch.jpa.show_sql: false
sie.batch.jpa.properties.hibernate.cache.use_second_level_cache: false
sie.batch.jpa.properties.hibernate.cache.use_query_cache: false
sie.batch.jpa.properties.hibernate.generate_statistics: false
sie.batch.jpa.properties.hibernate.event.merge.entity_copy_observer: allow


# Log config
sie.batch.logging.path: {{ LOG_PATH }}
sie.batch.logging.level: {{ LOG_LEVEL }}

# Values: ASYNC, GRAYLOG,STDOUT
sie.batch.logging.appenders: {{ LOG_APPENDERS }}
sie.batch.logging.maxFileSize: {{ LOG_MAX_FILE_SIZE }}
sie.batch.logging.maxHistory: {{ LOG_MAX_HISTORY }}
sie.batch.logging.totalSizeCap: {{ LOG_TOTAL_SIZE_CAP }}

# Graylog config
sie.batch.logging.grayLog.host: udp:{{ GRAYLOG_SERVER_HOST}}
sie.batch.logging.grayLog.port: {{ GRAYLOG_SERVER_PORT}}
sie.batch.logging.grayLog.gelf.version: 1.1
sie.batch.logging.grayLog.maximumMessageSize: {{ GRAYLOG_MAXIMUM_MESSAGE_SIZE }}
sie.batch.logging.grayLog.timestampPattern: "yyyy-MM-dd HH:mm:ss,SSSS"
sie.batch.logging.grayLog.facility: {{ GRAYLOG_FACILITY }}
sie.batch.logging.grayLog.extractStackTrace: true
sie.batch.logging.grayLog.filterStackTrace: false

# config tomcat
sie.batch.tomcat.accesslog.directory: {{ TOMCAT_ACCESS_LOG_DIRECTORY }}
sie.batch.tomcat.accesslog.enabled: {{ TOMCAT_ACCESS_LOG_ENABLED }}
sie.batch.tomcat.accesslog.pattern: remote_ip_address=%a http_response_code=%s request_date=%t response_time_ms=%D requested_url_path=%U

sie.batch.xmlImport.dateFormat: yyyy-MM-dd'T'HH:mm:ss.SSS'Z'
sie.batch.xmlImport.xsdDateFormat: yyyy-MM-dd'T'HH:mm:ss'Z'
sie.batch.xmlImport.defaultCreatorLogin: {{ XML_IMPORT_DEFAULT_CREATOR_LOGIN }}
sie.batch.xsltTransformation.xslLogPath: file:{{ XSLT_TRANSFORMATION_LOG_PATH }}

# Spring boot rabbitmq config
sie.batch.spring.rabbitmq.host: {{ RABBIT_MQ_SERVER_HOST }}
sie.batch.spring.rabbitmq.port: {{ RABBIT_MQ_SERVER_PORT }}
sie.batch.spring.rabbitmq.user: {{ RABBIT_MQ_USER }}
sie.batch.spring.rabbitmq.password: {{ RABBIT_MQ_PWD }}
sie.batch.bulkOperation.rabbitRestApiUrl: {{ RABBIT_MQ_REST_API_URL }}
#sie steps config
sie.batch.type: SOLR
sie.batch.mode: {{ BATCH_MODE }}
sie.batch.full: {{ BATCH_FULL_ENABLED }}
sie.batch.pageSize: {{ BATCH_PAGE_SIZE }}
sie.batch.threadPoolSize: {{ THREAD_POOL_SIZE }}
sie.batch.skip: {{ BATCH_SKIP }}
sie.batch.chunkSize: {{ BATCH_CHUNK_SIZE }}
sie.batch.targetQueue: solr-import-recette3.queue
sie.batch.runOnStartup: {{ BATCH_RUN_ON_STARTUP }}
sie.batch.linkResolution.cron: {{ BATCH_LINK_RESOLUTION_CRON }}
sie.batch.reader.kind: stream

# Batch Params
sie.batch.params.login: slequime
sie.batch.params.relationTemplateCode: EFL_TR_accrochage_Revues_UIActualite
sie.batch.params.notificationType: Auto_Update_With_Notifications
sie.batch.params.entityTemplateCode: EFL_TEE_uiCommentaire
sie.batch.params.currentStepName: Création
sie.batch.params.selectStepName: Vérification
sie.batch.params.workflowId: 20
sie.batch.params.validation: true

#
sie.batch.cache.rest.url: http://{{ CACHE_APP_SERVER_HOST }}:{{ CACHE_APP_SERVER_PORT }}/{{ CACHE_APP_SERVER_CONTEXT_PATH }}
sie.batch.cache.rest.user: {{ CACHE_APP_USER }}
sie.batch.cache.rest.password: {{ CACHE_APP_PWD }}

#cache
sie.ecm.core.cache.type: HAZELCAST
sie.ecm.core.cache.user: {{ HAZELCAST_GROUP_NAME }}
sie.ecm.core.cache.password: {{ HAZELCAST_GROUP_PWD }}
sie.ecm.core.cache.url: {{ HAZELCAST_SERVER_HOST }}:{{ HAZELCAST_SERVER_PORT }}
sie.ecm.core.cache.databaseName: {{ HAZELCAST_DATABASE }}
sie.ecm.core.cache.execTimeoutSec: {{ HAZELCAST_EXEC_TIMEOUT_SEC }}

#ERM
sie.batch.erm.url: http://{{ ERM_APP_SERVER_HOST }}:{{ ERM_APP_SERVER_PORT }}/api

#ASYNC
sie.ecm.core.async.appId: sie-xf-batch
sie.ecm.core.async.solrQueue: solr
sie.ecm.core.async.xmlPublishQueue: publish-xml
sie.ecm.core.async.notificationReceiveQueue: notification-treatment
sie.ecm.core.async.notificationSendQueue: notification-push
sie.ecm.core.async.enabled: {{ ASYNC_ENABLED }}
sie.ecm.core.async.threadPoolSize: {{ ASYNC_THREAD_POOL_SIZE }}
sie.ecm.core.async.timeWaiting: {{ ASYNC_TIME_WAITING }}
sie.ecm.core.async.cachePreviewQueue: cache-preview
sie.ecm.core.async.exportMediaQueue:export-media
sie.ecm.core.async.xmlExportQueue: export-xml
sie.ecm.core.async.bulkOperationQueue: bulk-operation
sie.ecm.core.async.updateTreeQueue: tree-update

#env
sie.ecm.core.async.suffixEnv: -{{ENV}}.queue

#pagination mongo
sie.ecm.core.mongo.pageUtils.limit: {{ MONGODB_PAGE_SIZE }}
sie.ecm.core.mongo.pageUtils.removeChunkSize: {{ MONGODB_REMOVE_CHUNKS_SIZE }}
